header { 
    background-color: green;
    display : flex;
    flex-direction: row;
    align-items: center;
}

header .logo {
    padding: 4px;
}

header div.list {
    padding: 4px;
}
header div.list select.file_list{
    display: flex;
    width: 150px;
    height: 70px;
    justify-content: center;
    align-items: center;
}

section .first-row {
    margin-left: 5px;
    margin-right: 5px;
    border: 4px solid orange;
}

section .first-row div:first-child {
    border: 2px solid red;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

section .first-row progress:nth-child(2) {
    height: 100px;
    border: 2px solid yellow;
}

section .second-row {
    border: 4px solid white;
    margin-left: 5px;
    margin-right: 5px;
    height: 870px;
    display: flex;
    justify-content: center;
    align-items: center;
}

section .second-row .display {
    border: 2px solid yellowgreen;
}

section .second-row .display .video-display {
    display: flex;
    align-items: center;
    justify-content: center;
    width : 1300px;
}

section .second-row .user {
    border: 4px solid rosybrown;
}
section .second-row .user .time-interval{
    border: 2px solid rebeccapurple;
    margin-bottom: 1px;
    height: 600px;
}

section .second-row .user .btn-interface{
    border: 2px solid green;
    margin-top: 1px;
    height: 250px;
    display: flex;
    flex-direction: column;
}

section .second-row .user .btn-interface .btn {
    margin-top: 2px;
    margin-bottom: 2px;
    width: 100%;
}
